# Python virtual environment
venv/
smoke_detection_env/

# Datasets and annotations
dataset/
annotations/

# Trained models and logs
logs/
*.h5

# IDE and OS files
.vscode/
.idea/
__pycache__/
*.pyc
.DS_Store