# --- Virtual Environments ---
# Ignore the virtual environment folders
venv/
pytorch_smoke_env/

# --- Datasets & Annotations ---
# Best practice is to not commit large datasets and annotations
dataset/
annotations/

# --- Model Files & Logs ---
# Ignore trained model files from PyTorch (.pth, .pt) and Keras (.h5)
*.pth
*.pt
*.h5
logs/

# --- Python & IDE Specific ---
# Ignore Python bytecode, caches, and IDE folders
__pycache__/
*.pyc
.ipynb_checkpoints/
.torch/
.vscode/
.idea/

# --- OS Specific ---
# Ignore macOS specific files
.DS_Store
requirements.txt
smoke_mask_rcnn_model.pth